# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Intermediate/AssetRegistryCache/c90e3f55.bin
Intermediate/CachedAssetRegistry.bin
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/Input.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Intermediate/ReimportCache/3688439234.bin
Saved/Autosaves/Engine/EditorMeshes/SkeletalMesh/DefaultSkeletalMesh_Skeleton_Auto1.uasset
Saved/Autosaves/Game/BP/Bp_CustomGameModeBase_Auto3.uasset
Saved/Autosaves/Game/FirstPerson/UI/Wg_InGameUI_Auto1.uasset
Saved/Autosaves/Game/FirstPersonBP/Maps/FirstPersonExampleMap_Auto1.umap
Saved/Autosaves/Game/FirstPersonBP/Maps/FirstPersonExampleMap_Auto2.umap
Saved/Autosaves/Game/FirstPersonBP/Maps/FirstPersonExampleMap_Auto3.umap
Saved/Autosaves/Game/FirstPersonBP/Maps/FirstPersonExampleMap_Auto4.umap
Saved/Autosaves/Game/FirstPersonBP/Maps/FirstPersonExampleMap_Auto5.umap
Saved/Autosaves/Game/Level/TestLevel_Auto2.umap
Saved/Autosaves/Game/Mesh/untitled_21_-Kunai_kunaiemission_1_0_0_001_PhysicsAsset_Auto4.uasset
Saved/Autosaves/Game/Mesh/untitled_21_-Kunai_kunaiemission_1_0_0_001_Skeleton_Auto4.uasset
Saved/Autosaves/Game/Mesh/untitled_21_-Kunai_kunaiemission_1_0_0_002_PhysicsAsset_Auto4.uasset
Saved/Autosaves/Game/Mesh/untitled_21_-Kunai_kunaiemission_1_0_0_002_Skeleton_Auto4.uasset
Saved/Autosaves/Game/Mesh/untitled_PhysicsAsset_Auto1.uasset
Saved/Autosaves/Game/Mesh/untitled_Skeleton_Auto1.uasset
Saved/Autosaves/Game/UI/Wg_InGameUI_Auto4.uasset
Saved/Autosaves/Game/UI/Wg_InGameUI_Auto5.uasset
Saved/Autosaves/PackageRestoreData.json
Saved/Config/CrashReportClient/UE4CC-Windows-5DBE64004BA1A239580F6796C1A996FA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7F60BE3F4B0EE18AA0049EA2236CFDC8/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-CB40E08143986AD4AEA5B6B2377AFDB9/CrashReportClient.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Hardware.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/LiveLink.ini
Saved/Config/Windows/MagicLeap.ini
Saved/Config/Windows/MagicLeapLightEstimation.ini
Saved/Config/Windows/MotoSynth.ini
Saved/Config/Windows/Niagara.ini
Saved/Config/Windows/OculusVR.ini
Saved/Config/Windows/Paper2D.ini
Saved/Config/Windows/PhysXVehicles.ini
Saved/Config/Windows/PostSplashScreen.ini
Saved/Config/Windows/RuntimeOptions.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/Windows/Synthesis.ini
Saved/Config/Windows/VariantManagerContent.ini
Saved/Config/WorldState/2733464406.json
Saved/Config/WorldState/893368261.json
Saved/Logs/FakeOw2-backup-2023.03.21-18.26.16.log
Saved/Logs/FakeOw2-backup-2023.03.22-05.55.46.log
Saved/Logs/FakeOw2.log
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-EFBC525F4C9735A4BE5F528D943D50ED/CrashReportClient.ini
Saved/Config/Windows/UnrealInsightsSettings.ini
Saved/Logs/FakeOw2-backup-2023.03.22-07.52.41.log
Intermediate/CachedAssetRegistry-KWON-PC.bin
Intermediate/Config/CoalescedSourceConfigs/Editor.ini
Intermediate/ReimportCache/3688439234-KWON-PC.bin
Saved/Autosaves/Game/FirstPerson/Animations/FirstPerson_AnimBP_Auto1.uasset
Saved/Autosaves/Game/FirstPerson/Animations/FirstPerson_AnimBP_Auto2.uasset
Saved/Autosaves/Game/FirstPerson/Animations/FirstPerson_Sprint_2_Auto5.uasset
Saved/Autosaves/Game/FirstPersonBP/Blueprints/FirstPersonCharacter_Auto1.uasset
Saved/Autosaves/Game/Material/M_CurvedEffect_Auto1.uasset
Saved/Autosaves/Game/Material/M_CurvedEffect_Auto5.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-65ADAA6A4C019C433DE255B756BF0287/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-6EB7709C4A0FFC87A5FF129F5D2A21BF/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-813B35A0452C2A38F104D2AF3DDA9916/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E939E2754F46324C1B1AB39E0F558129/CrashReportClient.ini
Saved/Config/Windows/Editor-KWON-PC.ini
Saved/Config/Windows/EditorPerProjectUserSettings-KWON-PC.ini
Saved/Config/Windows/Engine-KWON-PC.ini
Saved/Logs/FakeOw2-backup-2023.03.22-08.28.03.log
Saved/Logs/FakeOw2-backup-2023.03.22-17.24.10.log
Saved/Logs/FakeOw2-backup-2023.03.23-03.50.15.log
Saved/Logs/FakeOw2-KWON-NOTE.log
Saved/Logs/FakeOw2-KWON-PC.log
Saved/Screenshots/Windows/ScreenShot00000.png
Saved/Autosaves/Game/FirstPerson/Animations/BS_FirstPerson_Anim_Auto1.uasset
Saved/Autosaves/Game/FirstPerson/Animations/FirstPerson_AnimBP_Auto3.uasset
Saved/Autosaves/Game/FirstPerson/Animations/FirstPerson_AnimBP_Auto4.uasset
Saved/Autosaves/Game/FirstPerson/Animations/FirstPerson_AnimBP_Auto5.uasset
Saved/Autosaves/Game/FirstPerson/Animations/FirstPerson_Idle_Auto1.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-51F6853E4831390D044930A94229812E/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EC003D034B47BAD04C04AB850E105765/CrashReportClient.ini
Saved/Logs/FakeOw2-backup-2023.03.23-08.48.43.log
Saved/Logs/FakeOw2-backup-2023.03.23-09.45.17.log
